.article {
    position: relative;
    z-index: inherit;
    padding: 0 1.875rem;
    padding-bottom: 6.25rem;
    padding-top: 6.25rem;
}

.article .article_title {
    font-size: 1.7rem;
    font-weight: 500;
}

.light_article .article_content {
    color: #101116 !important;
}

.article .article_content {
    font-size: .825rem;
    color: hsla(0, 0%, 100%, .6);
    line-height: 2;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.little {
    font-size: 1.5rem;
}

.topic {
    position: relative;
    z-index: inherit;
    padding: 0 1.875rem;
    padding-top: 4rem;
}

.button {
    padding-top: 1.7px;
    padding-bottom: 1.7px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fff;
    width: fit-content;
    color: #000;
    border-radius: 40px;
}

.back_color {
    color: #fff !important;
    background: #090c15 !important;
    ;
}

.button:hover {
    color: #090c15 !important;
    border: 1px solid #090c15 !important;
    background: transparent !important;
}

.warning {
    color: red
}

ol {
    padding-left: 0%;
}