.bullet_card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 90%;
    border-radius: 40px;
    height: fit-content;
    background: #2B2D42;
    box-shadow: inset 0px 4px 46px -31px #090c15;
}

.bullet_card_wrap {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bullet_image {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #090c15;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bullet_entails {
    padding: 10px;
    line-height: 1.5;
    font-size: .825rem;
}

.bullet_entails ul {
    padding-left: 0;
    list-style-type: circle;
    font-size: .825rem;
}

.bullet_entails ul li {
    padding: .2rem
}