.contact_form input,
textarea {
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 24px;
    background-color: hsla(0, 0%, 100%, .6);
    color: #fff;
    outline: none;
    border: none;
}

.light_form input,
textarea {
    color: #101116;
    border: 1px solid;
}

.light_form textarea::placeholder {
    color: #101116 !important;
    ;
}

.light_form input::placeholder {
    color: #101116 !important;
    ;
}

.contact_form textarea::placeholder {
    color: #fff;
}

.contact_form input::placeholder {
    color: #fff;
}

.contact_form .button {
    display: flex;
    float: right;
    padding: 1rem;
}

.light_form .button {
    background-color: #101116;
    color: #fff;
}

.contact_form .button:hover {
    border: 1px solid hsla(0, 0%, 100%, .6) !important;
    color: hsla(0, 0%, 100%, .6) !important;
    background-color: transparent;
}

.light_form .button:hover {
    border: 1px solid !important;
    color: #101116 !important;
    background-color: transparent;
}