.jumbo-image {
    height: 95vh;
    background-size: cover;
    will-change: transform;
    background-position: center;
    background-repeat: no-repeat;
    /* border-radius: 40px; */
    scroll-behavior: smooth;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.562);
}

.jumbo_content {
    position: absolute;
    top: 70%;
    left: 0%;
    transform: translate(5%, 76%);
    width: 90%;
    padding: .3rem;
}

.jumbo_content .jumbo_title {
    font-size: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.jum_cont {
    width: 100%;
    color: hsla(0, 0%, 100%, 0.815);
    font-size: .85rem;
}