.price_card {
    background: hsla(0, 0%, 100%, .6);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 90%;
    border-radius: 40px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.price_card_wrap {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_image {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #090c15;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price_entails {
    padding: 10px;
    line-height: 1.5;
}

.price_entails ul {
    padding-left: 0;
    list-style-type: circle
}

.center {
    text-align: center;
}

.price_card .subtitle {
    margin-top: 20px;
    text-decoration: underline;
}

.price_entails ul li {
    padding: 10px;
    padding-left: 0;
}