.fold-text {
    /* font-size: 1.7rem; */
    /* font-weight: 500;
    display: inline-block; */
    -webkit-animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
    animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}


/* .fold-text span {
    display: inline-block;
    transform-origin: 0 100%;
} */

@-webkit-keyframes text-clip {
    from {
        -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes text-clip {
    from {
        -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}