.trial_form {
    padding: 1rem;
}

.trial_form .form_title {
    padding: 1rem;
    font-size: 1.5rem;
}

.trial_form form .form_entry {
    padding: 1rem;
    margin-bottom: 1rem;
    /* background-color: hsla(0, 0%, 100%, .6); */
    outline: none;
    display: flex;
    gap: .6rem;
    flex-direction: column;
}

.trial_form form .form_entry input,
select {
    background: #2B2D42;
    /* background-color: hsla(0, 0%, 100%, .6); */
    outline: none;
    width: 95%;
    padding: .5rem;
    border: none;
    border-radius: .75rem;
    box-shadow: inset 0px 4px 46px -31px #090c15;
}

.form_entry .check_me input {
    width: fit-content !important;
}

.form_entry .check_me {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: smaller;
}

.form_entry .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.trial_form .button1:hover {
    border: 1px solid hsla(0, 0%, 100%, .6) !important;
    color: hsla(0, 0%, 100%, .6) !important;
    background-color: transparent;
}

.light_trial input,
select {
    border: 1px solid !important;
}

.light_trial .button1 {
    background-color: #101116;
    color: #fff
}

.light_trial .button1:hover {
    border: 1px solid !important;
    color: #101116 !important;
    background-color: transparent;
}