.vku_card {
    background: #2B2D42;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1.5rem;
    /* text-align: center; */
    width: 90%;
    border-radius: 1rem;
    height: fit-content;
    gap: .5rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    /* box-shadow: 0px -4px 50px 17px #090c15; */
    ;
    box-shadow: inset 0px 4px 46px -31px #090c15;
    ;
}

.vku_card_wrap {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vku_image {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: #090c15;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vku_entails {
    padding: 20px;
    line-height: 1.5;
    font-size: .825rem;
    padding-left: 0;
    /* color: black*/
}

.vku_entails p {
    padding: 5px;
    padding-left: 0;
}

.button1 {
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #fff;
    width: fit-content;
    color: #000;
    border-radius: 40px;
}

.button1:hover {
    color: #090c15 !important;
    border: 1px solid #090c15 !important;
    background: transparent !important;
}